<head>
    <link rel="stylesheet" href="assets/style/form_login.css">
    <script src="scripts/form_login.js?v=1.10" defer></script> <!-- Mejor usar defer para que cargue tras el HTML -->
</head>
<body>
    <div class="row justify-content-center align-items-center rounded-t-5" style="height: 100vh;">
        <!-- Uso de height: 100vh para centrar verticalmente en toda la pantalla -->
        <div class="card d-flex wd-60">
            <div class="card-content">
                <div class="card-header wd-60 bg-transparent">
                    <div class="card-title text-center text-white">Login</div>
                </div>
                <div class="card-body d-flex wd-60 bg-transparent flex-column align-items-center">
                    <!-- Cambié a flex-column para que campos estén verticales -->
                    <div class="card-img d-inline-flex js-tilt" data-tilt>
                        <img src="assets/images/globalconsult_logo.gif" id="logo" width="200" style="opacity: 0.6;" alt="Logo" />&nbsp;&nbsp;
                    </div>
                    <form class="card-text form-login w-100" action="" autocomplete="off">
                        <div class="form-group d-flex mb-2 align-items-center">
                            <label for="usuario" class="me-3" style="width: 120px;">Usuário</label>
                            <input type="text" class="form-control" name="usuario" id="usuario" maxlength="80" placeholder="Informe seu usuário no sistema" />
                        </div>
                        <div class="form-group d-flex mb-2 align-items-center">
                            <label for="senha" class="me-3" style="width: 120px;">Senha</label>
                            <input type="password" class="form-control" readonly name="senha" id="senha" maxlength="80" autocomplete="none" onfocus="this.removeAttribute('readonly');this.value='';" placeholder="Digite sua senha" />
                        </div>
                    </form>
                </div>
            </div>
            <div class="card-footer bg-transparent" style="height:-4.5em;">
                <div class="form-group">
                    <label class="message justify-content-center text-white float-start" style="white-space: nowrap;"></label>
                </div>
                <div class="form-group waiting">
                    <img src="assets/images/spin-wait.gif" id="spin" width="32px" alt="waiting" />
                </div>
                <div class="form-group">
                    <button type="button" id="btenviar" class="btn-primary float-end cursor-pointer">Enviar</button>
                </div>
            </div>
        </div>
    </div>
</body>
