/* Reset & Base */
body {
    font-family: Arial, sans-serif;
    margin: 0;
    padding: 0;
    background-color: #1e1e1e;
    color: #f9f9f9;
}

/* Header */
.main-header {
    background: #333;
    color: #fff;
    padding: 15px 20px;
    display: flex;
    align-items: center;
    justify-content: space-between;
    position: fixed;
    top: 0;
    left: 0;
    right: 0;
    z-index: 1000;
}

/* Sidebar Toggle */
.sidebar-btn {
    background: none;
    border: none;
    color: white;
    font-size: 20px;
    cursor: pointer;
}

/* Header Right */
.header-right {
    display: flex;
    gap: 15px;
    align-items: center;
}

/* Sidebar */
.sidebar {
    width: 220px;
    background-color: #292929;
    color: #fff;
    padding: 20px;
    position: fixed;
    top: 60px;
    left: -220px;
    height: calc(100vh - 60px);
    overflow-y: auto;
    transition: left 0.3s ease;
}
.sidebar.show {
    left: 0;
}



.settings-wrapper {
    position: relative;
}

.settings-menu {
    position: absolute;
    right: 0;
    top: 100%;
    background: #444;
    border: 1px solid #333;
    padding: 10px;
    border-radius: 4px;
    display: none;
    z-index: 999;
}

.settings-menu ul {
    list-style: none;
    margin: 0;
    padding: 0;
}

.settings-menu li {
    margin-bottom: 8px;
}

.settings-menu li:last-child {
    margin-bottom: 0;
}

.settings-menu a {
    color: white;
    text-decoration: none;
}

.settings-menu a:hover {
    text-decoration: underline;
}

/* contador */
.cart-count {
    display: none; /* oculto por defecto */
    background-color: red;
    color: white;
    font-size: 12px;
    padding: 2px 6px;
    border-radius: 50%;
    position: relative;
    top: -5px;
    right: -5px;
}
